<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/head.ejs') %> 

<body>

    <!-- Header -->
    <%- include('../partials/header.ejs') %> 

    <main class="main-create">
        
        <h3 class="create-title">Crear Producto</h3>        
    
        <form class="create-form" action="/products/create" method="POST" enctype="multipart/form-data">

            <div class="form-div">
                <% if (locals.errors) { %>
                    <% for (let oneError in errors) { %>
                <% } %>
            <%}%>
                <label for="name" class="form-label">Nombre del producto</label>
                <input type="text" name="name" id="name">
                <% if (locals.errors && errors.name) { %>
                    <p class = "errorMessage"> <%= errors.name.msg %> </p>
                <% } %>
            </div>   
            
            <div class="form-div">
                <label for="description" class="form-label">Descripción</label>
                <input type="text" name="description" id="description">
                <% if (locals.errors && errors.description) { %>
                    <p class = "errorMessage"> <%= errors.description.msg %> </p>
                <% } %>
            </div>               
        
            <div class="form-div">
                <label for="price" class="form-label">Precio</label>
                <input type="text" name="price" id="price">
                <% if (locals.errors && errors.price) { %>
                    <p class = "errorMessage"> <%= errors.price.msg %> </p>
                <% } %>
            </div>  
            
            <div class="form-div">
                <label>Seleccionar imagen</label>
                <input type="file" name="image" accept="jpg, png">
                <% if (locals.errors && errors.image) { %>
                    <p class = "errorMessage"> <%= errors.image.msg %> </p>
                <% } %>
            </div>
            
            <div class="form-div">
                <label>Seleccione categoria</label>

                <select name="categoryId" id="categoryId">
                    <% for (let i = 0; i < categories.length; i++) {%> 
                        <option value="<%=categories[i].id%>">
                            <%=categories[i].name%>
                        </option>
                        <% }; %> 
                </select>

                <% if (locals.errors && errors.category) { %>
                    <p class = "errorMessage"> <%= errors.category.msg %> </p>
                <% } %>
            </div>

            <div class="form-div">
                <label>Seleccione color</label>
            <select name="colorId" id="colorId">
                <% for (let i = 0; i < colors.length; i++) {%> 
                    <option value="<%=colors[i].id%>">
                        <%=colors[i].name%>
                    </option>
                    <% }; %> 
            </select>
                <% if (locals.errors && errors.color) { %>
                    <p class = "errorMessage"> <%= errors.color.msg %> </p>
                <% } %>
            </div>

            <div class="form-div">
                <label for="discount" class="form-label">Descuento</label>
                <input type="number" name="discount" id="discount">
                <% if (locals.errors && errors.discount) { %>
                    <p class = "errorMessage"> <%= errors.discount.msg %> </p>
                <% } %>
            </div>
            
            <div class="form-buttons">
                <button type="submit" class="submit-button">Crear Producto</button>
            </div>
    
        </form>
    
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 
    
</body>
</html>